Testing/InterLinq.Tests/Service References/Server/server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.interlinq.com/2011/03/server" elementFormDefault="qualified" targetNamespace="http://schemas.interlinq.com/2011/03/server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.interlinq.com/2011/03/" />
  <xs:element name="Retrieve">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.interlinq.com/2011/03/" minOccurs="0" name="expression" nillable="true" type="q1:SerializableExpression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>