Testing/InterLinq.Tests/Service References/Server/System.Reflection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Reflection" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Reflection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MemberInfo">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MemberInfo" nillable="true" type="tns:MemberInfo" />
  <xs:complexType name="MethodInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MethodBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MethodInfo" nillable="true" type="tns:MethodInfo" />
  <xs:complexType name="MethodBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MemberInfo">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MethodBase" nillable="true" type="tns:MethodBase" />
</xs:schema>